{% extends "portfolio/base.html" %}

{% block title %}
    <h1>Registration</h1>
{% endblock %}

{% block content %}
        <from action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form.as_p }}
            </fieldset>
            <button type="submit" name="create_user">Sign Up</button>
        </from>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
            </small>
        </div>
{% endblock content %}