{% extends "portfolio/navbar.html" %}
<html>

<body>
  {% block body %}
    <div class="page-container">
      <div class="nav-left">
        <div style="width: 100%; height: 15%;"></div>
        <div class="nav-left-bar" onclick="location.href=`{% url 'blog:blog-index' %}`">Home</div>
        <div class="nav-left-bar" onclick="location.href=`{% url 'blog:filter-blog' 'post' %}`">Post</div>
        <div class="nav-left-bar" onclick="location.href=`{% url 'blog:filter-blog' 'question' %}`">Question</div>
        <div class="nav-left-bar" onclick="location.href=`{% url 'blog:filter-blog' 'job' %}`">Job Opportunities</div>
      </div>

      <div class="main-container">
        <div class="page-header">
            {% block title %}{% endblock %}
        </div>
        <div class="page-content">
          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}" role="alert">
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>

      <div class="nav-right">
        {% block extra %}{% endblock %}
      </div>

    </div>
  {% endblock %}
</body>