{% extends "portfolio/base.html" %}
<html>

{% block title %}
<h1>All blog</h1>
{% endblock %}

{% block content %}

    <div class="container p-3 my-3 border" 
        style="margin-bottom:20px;border-radius: 10px;background: rgb(200, 200, 200);width: 70%;height: 60px;"
        onclick="location.href='create-blog'">
        <div class="container" style="margin-left: 40%;margin-top: 20px;">
            <a>Create post</a>
        </div>    
    </div>

    {% for post in most_recent_post %}
        <div class="container p-3 my-3 border" style="margin-bottom: 15px;border-radius: 10px;background: rgb(224, 224, 224);max-width: 70%;max-height: 20%;">

            <div class="container" style="background: rgb(197, 197, 197);width: 106%;margin-left: -3%; border-radius: 5px;height: 65px;">
                <div>
                    <h1 style="font-size: x-large;"><a href="{% url 'blog:blog-detail' post.id %}">{{ post.get_topic|truncatechars:30 }}</a></h1>
                </div>
            </div>

            {% if post.has_content %}
                <div class="container" style="max-width: 90%;margin-left: 0px;">
                    <p style="margin-top: 5px; width: 95%;">{{ post.get_content|truncatechars:60 }}</p>
                </div>
            {% endif %}
            <div class="border-top pt-3" style="margin-top: 0px;">
                <hr style="margin-top: 0px;">
                <div class="row">
                    <div class="col-xs-4">
                        <small class="text-muted">
                            <a href="{% url 'blog:blog-detail' post.id %}" style="margin-top: 5px;">write comment..</a>
                        </small>
                    </div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4-right" style="margin-right: 0px;">
                        <img src="{{ post.auther_image }}" width="20px" height="20px" class="img-circle">
                        <a href="{% url 'profile' post.user %}">{{ post.user }}</a>
                    </div>
                </div>
                <small class="text-right" style="margin-left: 67%;">{{ post.pub_date }}</small>
            </div>
        </div>
        {% endfor %}
{% endblock %}

<script>
function writeComment() {
    var section = getElementById("comment section");
    if (section.style.display === "none") {
    section.style.display = "block";
    } else {
        section.style.display = "none";
    }
}
</script>

</html>