{% extends "portfolio/base.html" %}

{% block title %}
<h1>Create new poll</h1>
{% endblock %}

{% block content %}
    <div class="blog-type-container">
        <div class="blog-type" onclick="location.href=`{% url 'blog:create-blog' 'post' %}`">Post</div>
        <div class="blog-type" onclick="location.href=`{% url 'blog:create-blog' 'question' %}`">Question</div>
        <div class="blog-type" style="background-color: rgb(200,200,200);filter: drop-shadow(0 0 2px);">Poll</div>
        <div class="blog-type" onclick="location.href=`{% url 'blog:create-blog' 'job' %}`">Job</div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="container-fluid" style="padding-bottom: 15px;">
            <label>Poll topic: </label>
            <textarea class="form-control" rows="1" name="poll topic" placeholder="question.." style="width: 60%;" required></textarea>
        </div>
        <div class="container" style="width: 60%;margin-left: 15px;">
            <label>Detail: </label>
            <textarea class="form-control" rows="3" name="poll content" placeholder="detail.."></textarea><br>
            <label>Choices: </label>
            <div class="choices-container" id="choices-container">
                <!-- Space to add choice -->
            </div>
            <div>
                <button type="button" onclick="add_choice()" style="margin-bottom: 25px">add choice</button>
            </div>
        </div>

        <div class="tags-creater" id="tags-creater">
            <label>tag:</label>
            <textarea class="form-control" rows="1" id="tag-input" placeholder="tag" style="width: 60%;"></textarea>
            <button type="button" onclick="add_tag()" style="height: 80%;">add</button>
        </div>
        <div class="tags-container" id="tags-container">
        </div>

        <div class="container-fluid" style="padding-top: 5px;padding-bottom: 5px;"></div>
            <button type="submit">Post now!!</button>
        </div>
    </form>
{% endblock %}