{% extends "portfolio/base.html" %}

{% block title %}
<h1>Create new Post</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="container-fluid" style="padding-bottom: 15px;">
            <input type="text" name="post topic" placeholder="Post topic"/><br>
        </div>
        <div class="container">
            <input type="text" name="post content" placeholder="write something!!" maxlength="500" size="50"/><br>
        </div>
    </form>
    <div class="container-fluid" style="padding-top: 5px;padding-bottom: 5px;"></div>
        <button type="submit">Post now!!</button>
    </div>
{% endblock %}