.page-container {
    display: flex;
    flex-direction: row;
}

.nav-left {
    width: 25rem;
    height: 100vh;
    position: fixed;
    background-color: rgb(240, 240, 240);
}

.main-container {
    width: 55vw;
    height: 200rem;
    margin-left: 30rem;
    margin-top: 5rem;
    /* background-color: antiquewhite; */
}

.nav-right {
    width: 25rem;
    height: 50vh;
    background-color: blueviolet;
}

